@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(214, 219, 219);
  font-family: "Lato";
}
.App{
  background-color: #272822;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none; 
}

.App::-webkit-scrollbar {
  display: none;
}

