.sidebar {
    flex: 1;
    background-color: #2a2a27;
    padding: 1rem;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sidebarItem p {
    padding: 3rem;
}
.sidebarTitle {
    padding: .5rem;
    border-top: 1px solid #D6DBDB;
    border-bottom: 1px solid #D6DBDB;
}
.sidebarPhoto {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.sidebarList {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarListItem {
    list-style: none;
    cursor: pointer;
}
.sideabrSocial {
    display: flex;
    gap: 1rem;
}